body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

ul {
    display: flex;
    justify-content: space-around;
}

nav {
    background: rgb(170,183,255);
    background: linear-gradient(91deg, rgba(170,183,255,1) 6%, rgba(253,157,255,1) 49%, rgba(255,170,185,1) 91%);
    padding: 6px;
}

li {
    list-style: none;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Questrial", sans-serif;
    font-weight: 00;
    font-style: normal;
    font-size: 20px;
    transition: color 0.3s ease;
}

a:hover {
    color: #0e1685;
}

#sesion {
    color: #ffffff;
}

font {
    color: #ffffff;
}

button:hover {
    background-color: #f45800;
}

#titulo {
    font-family: 'Recoleta', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.linea {
    background-color: #7dbfdf;
    width: 30%;
    height: 7px;
}

h1 {
    font-family: "Rozha One", serif;
    font-weight: 400;
    color: #29576e;
    padding-left: 20px;
    
}

.titulo1 {
    padding-left: 22px;
}

.caja-chiquita {
    display: flex;
    flex-direction: row;
    padding-left: 12%;
    padding-top: 30px;
}

.foto {
    position: relative;
    width: 25%;
    margin: 0 1%;
}

.foti, .foti-hover {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.foti-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
}

.foto:hover .foti {
    opacity: 0;
}

.foto:hover .foti-hover {
    opacity: 1;
}

.nombre{
    color: #ff7070;
}

.precio{
    color: #df76ff;
}

#imagen .tooltiptext {
    visibility: hidden; /* Oculta el texto por defecto */
    width: 160px; /* Ancho del tooltip */
    background-color: #e49eff; /* Fondo del tooltip */
    color: #fff; /* Color del texto */
    text-align: center; /* Centra el texto */
    border-radius: 6px; /* Bordes redondeados */
    padding: 5px 0; /* Espaciado interno */
    position: absolute; /* Posiciona el tooltip respecto al elemento padre */
    z-index: 1; /* Asegura que el tooltip esté sobre otros elementos */
    bottom: -30px; /* Posiciona el tooltip justo debajo de la imagen */
    left: 50%; /* Centra el tooltip horizontalmente */
    transform: translateX(-50%); /* Ajusta el tooltip horizontalmente */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s; /* Añade una transición suave */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#imagen:hover .tooltiptext {
    visibility: visible; /* Muestra el tooltip al pasar el cursor */
    opacity: 1; /* Hace el tooltip visible */
}

#imagen{
    position: relative; /* Necesario para posicionar el tooltip */
    display: inline-block; /* Permite al tooltip posicionarse relativamente a la imagen */
}

#imagen img {
    display: block; /* Asegura que la imagen se muestre como un bloque para evitar el espacio extra debajo */
}

.container2{
    display: flex;
    flex-direction: row;
    width: 45vh;
    justify-content: space-around;
    justify-items: center;
    margin-left: 80px;

    padding: 10px;
}

.container2{
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    display: inline-block;
    overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
}

.size-img{
    transition: transform 0.3s ease; /* Suaviza la transición */
}

.container2:hover .size-img {
    transform: scale(0.9); /* Escala la imagen al 120% de su tamaño original */
}

.container2 .size-img{
    width: 40vh;
    margin-left: 50px;
    margin-right: 50px;
}
.colorline{
    background-color: #f45800;
    width: 25%;
    height: 5px;
    margin-left: 37%;
    margin-top: 20px;
}
.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 70px;
}
.text-aboutUs{
    text-align: center;
}
.container3 .size-img2{
    width: 20vh;
    height: 30vh;
    margin-left: 20px;
    border-radius: 9px;
    
}

#presentacion{
    color: #0e1685;
    
        font-family: "Questrial", sans-serif;
        font-weight: 400;
        font-style: normal;
      
      
}

font{
    color: #f134f1;
}

#btn{
    width: 70px;
    height: 70px;
    border-radius:50%;
 
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7dbfdf;
}
#btn a{
   text-decoration: none; 
}

#btn a:hover{
    color: #1d20c2;
}







/* Estilos para la ventana modal */
.modal {
    display: none; /* Oculta la ventana modal por defecto */
    position: fixed;
    z-index: 1; /* Asegura que el modal esté sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita el desplazamiento si el contenido es demasiado grande */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro con opacidad */
   
}

.modal-content {

        background: rgba(255, 255, 255, 0.8);
    margin: 15% auto; /* Centra el contenido en la pantalla */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
     border-radius: 20px;
     box-shadow: 9px 5px 10px rgb(109, 109, 109);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.caja-madre{
    display: flex;
    flex-direction: row;
}

.texto{
    
    padding-top: 7%;
    background-color: #e4a7ff;
    width: 40%;
    margin-left: 4%;
    border-radius: 30px;
}

.nombre2{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: white;
}

.precio2{
    
    font-family: "Questrial", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    display:flex ;
    justify-content: center;
    color: #c43ffd;
}

.descripcion{
    font-family: "Questrial", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    display:flex ;
    justify-content: center;
    padding-top: 30px;
    color:#ffffff
}

.talle{
    display: flex;
    justify-content: center;
    padding-right: 16px;
    padding-top: 20%;
    color: #c43ffd;
}

.botoncin{
    background-color: white;
    border: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
   color: #c43ffd;
   font-family: "Questrial", sans-serif;
   font-weight: 900;
   font-style: normal;
   font-size: 10px;
   cursor: pointer;

}

.botoncin:hover{
    
    background-color: #c43ffd;
    color: white;
    
}


.botones{
    display: flex;
    justify-content: center;
    
}

.comprar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
}

.compre{
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 4%;
    padding: 10px;
    background-color: white;
    border: white;
    border-radius: 10px;
    color: #c43ffd;
    font-family: "Questrial", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
}

.compre:hover{
    background-color: #c43ffd;
    color: white;
    
}

#openModal{
    background-color: #ff7070;
    border: #ff7070;
    border-radius: 4px;
    color: white;
    padding: 6px;
    cursor: pointer;
}

#openModal:hover{
    background-color: #df3535;
}